name: ${PROJECT}
version: ${APP_VERSION}
summary: ${PROJECT_DESCRIPTION}
description: ${PROJECT_DESCRIPTION}
confinement: devmode
base: core18
license: ${PROJECT_LICENCE}

architectures:
  - build-on: ["amd64"]
    run-on: ["amd64"]

parts:
  sam:
    plugin: dump
    source: "${PROJECT_URL}/releases/download/v${APP_VERSION}/sam_linux_x86_64_v${APP_VERSION}.tar.gz"
    stage-packages:
      - libc6
      - libgcc1

apps:
  sam:
    command: sam